@import '../../lib/styles/abstracts/variables.scss';
@import '../../lib/styles/abstracts/mixins.scss';

.reservation-details {
    width: 100%;
    height: 100%;
    border-radius: calc(#{$border-radius} * 0.8);
    border: 1px solid $border-color;
    padding: 1rem 1.125rem;

    &__title {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.3;

        span {
            font-weight: 400;
        }
    }
    &__list {
        margin-top: 0.75rem;
        display: flex;
        flex-wrap: wrap;
    }
}
