@import '../../../lib/styles/abstracts/variables.scss';
@import '../../../lib/styles/abstracts/mixins.scss';

.reservation-details {
    &__totals {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0.375rem;
        border-radius: calc(#{$border-radius} * 0.7);
        padding: 0.75rem 1rem;
        background-color: $bg-color;

        @include sm {
            padding: 1.25rem 1.5rem;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 0.25rem;
            }
        }
        &__title {
            font-weight: 700;

            span {
                display: block;
                font-weight: 400;

                @include sm {
                    display: inline-block;
                }
            }
        }
        &__value {
            white-space: nowrap;
        }
        &__total {
            border-top: 1px solid $border-color;
            padding-top: 0.75rem;
            margin-top: 0.5rem;
            margin-bottom: -0.125rem;
            text-align: center;
            line-height: 1.3;

            @include sm {
                padding-top: 1.5rem;
                margin-top: 1.25rem;
            }

            span {
                display: block;
            }
        }
        &__total &__title {
            font-size: 1.125rem;
            text-transform: uppercase;
            letter-spacing: 0.025rem;
        }
        &__total &__value {
            font-size: 1.5rem;
            margin-top: 0.25rem;
        }
    }
}
